<html>
<head>
    <title>TOP</title>
</head>
<body>
    <div>
        <a href="{% url 'blog:Home' %}"><button type="button" >ログアウト</button></a>
    </div>
<div>
    <div>
      <p><b>ScreenName</b>:{{ user.access_token.screen_name }}</p>
        <p><b>UserId</b>:{{ user.access_token.user_id }}</p>
        <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p>
        <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p>
        <p><b>AuthTime</b>:{{ user.extra_data.auth_time }}</p>


    </div>
</div>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        { account.screen_name }
      </h1>
      <h2 class="subtitle">
      { account.description }
      </h2>
    </div>
  </div>
</section>
</body>
</html>


